@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//color mixins:
@mixin btn_primary {
	font-weight: 600;
	color: $green;
	background-color: $baige;
	transition: background-color 0.3s ease, color ease 0.3s, border-color ease 0.3s;
	text-transform: uppercase;
	border: 1px solid $green;

	@include st_btn;

	&:hover {
		background-color: $green;
		color: $baige;
		border-color: $baige;
	}
}

//size mixins:
@mixin btn_size_normal {
	height: 6.8rem;
	padding: 0 2rem;

	line-height: 6.8rem;
	font-size: 2rem;

	border-radius: 5rem;
}
