.grid__list {
	display: grid;

	grid-auto-flow: row;

	gap: 1.6rem;
	@include bp($point_2, min) {
		grid-template-columns: 1fr 48.5rem;
	}
	@include bp($point_3) {
		grid-template-columns: 1fr;
	}
}

.grid__social_item {
	display: block;
	width: 3.8rem;
	height: 3.8rem;
	overflow: hidden;
}

.grid__item_in {
	height: 100%;
	position: relative;
	border-radius: 3rem;
	overflow: hidden;

	.grid__item--0 & {
		padding: min(8rem, 10vw);
		background-color: $green;
		color: $baige;
	}

	.grid__item--3 & {
		padding: 4rem;
		border: 1px solid $green;
		color: $green;
	}
}

.grid__button {
	min-width: 27rem;
}

.grid__item {
	overflow: hidden;
	height: 100%;
	min-height: 36rem;
}

.grid__title {
	@include h2;
	line-height: 1.05;
	&:not(:last-child) {
		margin-bottom: 0.5em;
	}
}

.grid__item_row {
	@include flex_block(row, wrap);
	gap: 2rem;
}

.grid__descr {
	max-width: 45rem;
	width: 100%;
}

.grid__img_w {
	display: block;
	width: 100%;
	height: 100%;

	img {
		@include cover_img;
	}
}

.grid__social_mark {
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: 4.2rem;
	height: 4.2rem;
	color: $baige;
}

.grid__social_title {
	font-size: 2.2rem;
	text-transform: uppercase;
	font-family: $font_2;

	&:not(:last-child) {
		margin-bottom: 8rem;
	}
}

.grid__tel {
	@include hover;
	color: $green;
	font-size: 3.4rem;
	font-weight: 600;
	display: block;

	&:not(:last-child) {
		margin-bottom: 1.4rem;
	}
}

.grid__tel_mail {
	@include hover;
	display: block;
	font-size: 1.8rem;
	color: $green;

	&:not(:last-child) {
		margin-bottom: 4rem;
	}
}

.grid__social_row {
	@include flex_block(row, wrap);

	gap: 2rem;
}

.grid__social_descr {
	width: 100%;
	font-size: 1.8rem;
	color: $green;

	@include bp($point_2, min) {
		max-width: 24rem;
	}
}

.grid__social_list {
	@include flex_block(row, wrap);

	gap: 1rem;
}

.grid__social_link {
	@include hover;
	display: block;
	width: 100%;
	height: 100%;
}
